# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
scraper/.env

# Data files
/data/coursesData.json

# IDE and system files
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/

# OS-specific

*.swp
/node_modules/
/dist
/build



